<!DOCTYPE html>
<html lang="en-us" ng-app="fileuploader">
    <head>
        <title>File Uploader App</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
        </style>

        <!-- load angular via CDN -->
        <script src="https://code.angularjs.org/1.5.0/angular.min.js"></script>
        <script src="./fileuploader.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">File Uploader</a>
				</div>

				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-home"></i> Home</a></li>
				</ul>
			</div>
			</nav>
		</header>

        <div class="container">

            <div ng-controller="mainController">

                <div>
                    <label>What is your name?</label>
                    <input type="text" ng-model="owner" />
                </div>
                <div class="alert" ng-class="{'alert-warning': owner.length < numChar, 'alert-danger': owner.length > numChar }" >
                  <div ng-show="owner.length < numChar">
                    You must type  5 characters.
                  </div>
                  <div ng-show="owner.length > numChar">
                    You must type 5 characters.
                  </div>
                </div>
                <div ng-if="owner.length === numChar" class="alert" ng-class="{'alert-success': owner.length === numChar}">
                  You finally typed 5 chars!
                </div>
                <hr />

                <h1>teste.com/{{ lowercaseowner() }}</h1>
                <input type="file" id="file" name="file"/>
                <button ng-click="upload()">Upload</button>
                <ul>
                  <div ng-repeat="test in tests">
                    {{test.name}}
                  </div>
                </ul>


            </div>

		</div>

    </body>
</html>
