	<!DOCTYPE html>
<html lang="en-us" ng-app="fileuploader">
    <head>
        <title>File Uploader App</title>
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta charset="UTF-8">

        <!-- load bootstrap and fontawesome via CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <style>
            html, body, input, select, textarea
            {
                font-size: 1.05em;
            }
        </style>

        <!-- load angular via CDN -->
        <script src="https://code.angularjs.org/1.5.0/angular.min.js"></script>
        <script src="./fileuploader.js"></script>
    </head>
    <body>

        <header>
			<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand">File Uploader</a>
				</div>
			</div>
			</nav>
		</header>

        <div class="container">
            <div ng-controller="mainController">
                <div ng-if="successUp" class="alert" ng-class="{'alert-success': successUp}">
                  	File Processed. Update List to check to status. 
                </div>
                <div ng-if="errorMessage.length > 0" class="alert" ng-class="{'alert-warning': errorMessage.length > 0}">
                	{{errorMessage}}
                </div>
                <div>
                    <label>What is your name?</label>
                    <input type="text" ng-model="owner" />
                </div>
                <div>
                	<input type="file" id="file" name="file"/>
                	<button ng-click="upload()">Upload File</button>
                </div>
                <div>
                	<button ng-click="listFiles()">Update List</button>
                </div>
                <div>
	                <table class="table table-striped">
	      				<thead>
	        				<tr>
	          					<th>File Name</th>
	          					<th>File Owner</th>
	          					<th>Number of Chunks</th>
	          					<th>Status</th>
	          					<th>Time Spent</th>
	          					<th>Download</th>
	        				</tr>
	      				</thead>
	      				<tbody>
	        				<tr ng-repeat="info in filesInfo">
	          					<td>{{info.name}}</td>
	          					<td>{{info.owner}}</td>
	          					<td>{{info.numberOfChunks}}</td>
	          					<td>{{info.status}}</td>
	          					<td>{{info.secondsSpent}}</td>
	          					<td><a href ng-click="download(info.owner, info.name)">click here</a></td>
	          					<td><a href="/fileuploader/rest/files/download/{{info.owner}}/{{info.name}}" download>click here</a></td>
	        				</tr>
	      				</tbody>
	    			</table>
    			</div>
    			<div>
    				<a href ng-click="eraseDataBase()">Reset DataBase</a>
    			</div>
            </div>

		</div>

    </body>
</html>
